#home-page {
  padding: 0px;
  margin: 0px;
  background-color: rgb(238, 240, 242);
  height: 100vh;
  width: 100vw;
}

#home-parent {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
}

#home-text {
  margin-left: 8vw;
  max-width: 70%;
}

.home-describe {
  max-width: 80%;
  text-align: justify;
}

#home-image {
  max-height: 100vh;
  max-width: 30%;
  margin-right: 0px;
}

#home-image img {
  height: 100vh;
  width: 100%;
}
