.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.link {
    color: rgb(238, 240, 242);
    margin: 0px 20px;
}